@font-face {
  font-family: 'Rokh';
  src: url('/fonts/Rokh-Bold.otf') format('truetype');

}

/* Rokh-Bold.otf */

/* اعمال فونت به کلِ بدنه سایت */
body {
  font-family: 'Rokh', sans-serif;
}
@font-face {
  font-family: 'Roboto';
  src: url('/fonts/NotoSansArabic-Medium.ttf') format('truetype');

}

/*  یک کلاس کاربردی برای استفاده در هرجا که خواستید */
.font-roboto {
  font-family: 'Roboto', sans-serif;
}



@font-face {
  font-family: 'rokh-bold';
  src: url('/fonts/Rokh-ExtraBold.otf') format('truetype');

}
.rokh-bold{
    font-family: 'rokh-bold', sans-serif;

}

/* RokhFaNum-Bold.woff */


@font-face {
  font-family: 'rokh-bold';
  src: url('/fonts/RokhFaNum-ExtraBold.woff') format('truetype');

}
.rokh-bold-num{
    font-family: 'rokh-bold', sans-serif;

}


@font-face {
  font-family: 'noto-light';
  src: url('/fonts/NotoSansArabic-Light.ttf') format('truetype');

}

.font-noto-light{
    font-family: 'noto-light', sans-serif;

}

/* font-noto-regular */

@font-face {
  font-family: 'noto-regular';
  src: url('/fonts/NotoSansArabic-Regular.ttf') format('truetype');

}

.font-noto-regular{
    font-family: 'noto-regular', sans-serif;

}